#PopupDiv {
	background: transparent;
	text-align: center;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	margin: 0 auto;
	top: 200px;
	display: none;
	opacity: 0;
	KHTMLOpacity: 0;
	filter: alpha(opacity=0); 
	-moz-opacity: 0;
	z-index: 1000;	
	border: 4px solid  #999999; 
	vertical-align:middle;
}

#PopupDiv a {
	text-decoration: none;
	border: none;
}

#PopupDiv .PopupDivAds {
	height: 250px;
}

#PopupDiv img {
	border: none;
}

#PopupDiv .PopupDivBar {
	background: url('img/topbar.gif') repeat top left;
	height: 20px;
	line-height: 20px;
}

#PopupDiv .PopupDivBar a {
	margin-left: 10px;
	font-weight: bold;
	float: left;
	color: #FFF;
	font-size: 10px;
}

#PopupDiv .PopupDivBar .close {
	margin-right: 5px;
	display: block;
	width: 12px;
	height: 20px;
	float: right;
	background: url('img/close.gif') no-repeat center;
}

#PopupDiv.show {
	display: block;
}